@font-face {
  font-family: 'Knowledge';
  src: url('fonts/Knowledge-Light.eot?') format('eot'), url('fonts/Knowledge-Light.woff') format('woff'), url('fonts/Knowledge-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Knowledge';
  src: url('fonts/Knowledge-Regular.eot?') format('eot'), url('fonts/Knowledge-Regular.woff') format('woff'), url('fonts/Knowledge-Regular.ttf') format('truetype');
  font-weight: normal;
}


@font-face {
  font-family: 'Knowledge';
  src: url('fonts/Knowledge-Medium.eot?') format('eot'), url('fonts/Knowledge-Medium.woff') format('woff'), url('fonts/Knowledge-Medium.ttf') format('truetype');
  font-weight: 600;
}