@import "normalize"
      , "html5-boilerplate-default"
      , "font"
;

body {
  font-family: 'Knowledge';
}

.navbar {
  margin-bottom: 0;
}

.bio {
  font-size: 1.5em;
}

.brand-image {
  max-height: 115%;
  width: auto;
  position: relative;
  top: -.55em;
}

.jumbotron {
  height: 500px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;

  border-top: 25px solid #232323;
  border-bottom: 25px solid #232323;

  background: #232323 url(../img/hero.jpg) center center no-repeat;
  background-size: 100% auto;
}

p.tagline {
  padding: 1em 0;
  margin-top: 2.5em;

  background: rgba(0, 0, 0, .5);

  color: white;
  font-size: 3.5em;
  text-align: center;
  font-weight: 100;
  vertical-align: middle;
}

.pipe {
  display: inline-block;
  margin: 0 .35em;
  height: 40px;
  width: 1px;
  vertical-align: middle;

  background: #fff;
}

.dl-app {
  padding: 1.5em 0;
  margin: 0;
  border-bottom: 1px solid #999;

  font-size: 1.5em;

  &:nth-child(2n) {
    background: #eee;
  }
}

.media {
  > .pull-left {
    margin-right: 50px;
  }
}

.media-image {
  min-width: 150px;
  text-align: center;
}

.media-object {
  display: inline-block;
}

.site-footer {
  background: #333;
  padding: .75em;

  color: #ddd;
  font-size: 1.25em;
}