@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-fxmnz5');
	src:url('fonts/icomoon.eot?#iefix-fxmnz5') format('embedded-opentype'),
		url('fonts/icomoon.woff?-fxmnz5') format('woff'),
		url('fonts/icomoon.ttf?-fxmnz5') format('truetype'),
		url('fonts/icomoon.svg?-fxmnz5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-feed:before {
	content: "\e6da";
}
.icon-instagram-circle:before {
	content: "\e6c8";
}
.icon-instagram-sqaure:before {
	content: "\e6c9";
}
.icon-instagram:before {
	content: "\e6ca";
}
.icon-reddit-circle:before {
	content: "\e6cb";
}
.icon-reddit-square:before {
	content: "\e6cc";
}
.icon-reddit:before {
	content: "\e6cd";
}
.icon-stumbleupon-circle:before {
	content: "\e6ce";
}
.icon-stumbleupon-square:before {
	content: "\e6cf";
}
.icon-stumbleupon:before {
	content: "\e6d0";
}
.icon-tumblr-circle:before {
	content: "\e6d1";
}
.icon-tumblr-square:before {
	content: "\e6d2";
}
.icon-tumblr:before {
	content: "\e6d3";
}
.icon-yelp-circle:before {
	content: "\e6d4";
}
.icon-yelp-square:before {
	content: "\e6d5";
}
.icon-yelp:before {
	content: "\e6d6";
}
.icon-youtube-circle:before {
	content: "\e6d7";
}
.icon-youtube-square:before {
	content: "\e6d8";
}
.icon-youtube:before {
	content: "\e6d9";
}
.icon-pinterest-circle:before {
	content: "\e6c5";
}
.icon-pinterest-square:before {
	content: "\e6c6";
}
.icon-pinterest:before {
	content: "\e6c7";
}
.icon-bandaid-fill:before {
	content: "\e600";
}
.icon-bandaid:before {
	content: "\e601";
}
.icon-bar-graph-down-fill:before {
	content: "\e602";
}
.icon-bar-graph-down:before {
	content: "\e603";
}
.icon-bar-graph-up-fill:before {
	content: "\e604";
}
.icon-bar-graph-up:before {
	content: "\e605";
}
.icon-bars-alt:before {
	content: "\e606";
}
.icon-bars:before {
	content: "\e607";
}
.icon-bicycle-fill:before {
	content: "\e608";
}
.icon-bicycle:before {
	content: "\e609";
}
.icon-book-circle:before {
	content: "\e60a";
}
.icon-book-fill-circle:before {
	content: "\e60b";
}
.icon-book-fill:before {
	content: "\e60c";
}
.icon-book:before {
	content: "\e60d";
}
.icon-broken-arm-fill:before {
	content: "\e60e";
}
.icon-broken-arm:before {
	content: "\e60f";
}
.icon-building-alt-fill:before {
	content: "\e610";
}
.icon-building-alt:before {
	content: "\e611";
}
.icon-building-fill:before {
	content: "\e612";
}
.icon-building:before {
	content: "\e613";
}
.icon-car-crash-fill:before {
	content: "\e614";
}
.icon-car-crash:before {
	content: "\e615";
}
.icon-caret-down-circle:before {
	content: "\e616";
}
.icon-caret-down-fill:before {
	content: "\e617";
}
.icon-caret-down:before {
	content: "\e618";
}
.icon-caret-left-fill:before {
	content: "\e619";
}
.icon-caret-left:before {
	content: "\e61a";
}
.icon-caret-right-circle:before {
	content: "\e61b";
}
.icon-caret-right-fill:before {
	content: "\e61c";
}
.icon-caret-right:before {
	content: "\e61d";
}
.icon-caret-up-circle:before {
	content: "\e61e";
}
.icon-caret-up-fill:before {
	content: "\e61f";
}
.icon-caret-up:before {
	content: "\e620";
}
.icon-caret-left-circle:before {
	content: "\e621";
}
.icon-castle-fill:before {
	content: "\e622";
}
.icon-castle:before {
	content: "\e623";
}
.icon-chat-fill:before {
	content: "\e624";
}
.icon-chat:before {
	content: "\e625";
}
.icon-chevron-double-down-circle:before {
	content: "\e626";
}
.icon-chevron-double-down-fill:before {
	content: "\e627";
}
.icon-chevron-double-down:before {
	content: "\e628";
}
.icon-chevron-double-left-circle:before {
	content: "\e629";
}
.icon-chevron-double-left-fill:before {
	content: "\e62a";
}
.icon-chevron-double-left:before {
	content: "\e62b";
}
.icon-chevron-double-right-circle:before {
	content: "\e62c";
}
.icon-chevron-double-right-fill:before {
	content: "\e62d";
}
.icon-chevron-double-right:before {
	content: "\e62e";
}
.icon-chevron-double-up-circle:before {
	content: "\e62f";
}
.icon-chevron-double-up-fill:before {
	content: "\e630";
}
.icon-chevron-double-up:before {
	content: "\e631";
}
.icon-chevron-down-circle:before {
	content: "\e632";
}
.icon-chevron-down:before {
	content: "\e633";
}
.icon-chevron-left-circle:before {
	content: "\e634";
}
.icon-chevron-left:before {
	content: "\e635";
}
.icon-chevron-right-circle:before {
	content: "\e636";
}
.icon-chevron-right:before {
	content: "\e637";
}
.icon-chevron-thin-bottom-circle:before {
	content: "\e638";
}
.icon-chevron-thin-bottom-fill:before {
	content: "\e639";
}
.icon-chevron-thin-bottom:before {
	content: "\e63a";
}
.icon-chevron-thin-left-circle:before {
	content: "\e63b";
}
.icon-chevron-thin-left-fill:before {
	content: "\e63c";
}
.icon-chevron-thin-left:before {
	content: "\e63d";
}
.icon-chevron-thin-right-circle:before {
	content: "\e63e";
}
.icon-chevron-thin-right-fill:before {
	content: "\e63f";
}
.icon-chevron-thin-right:before {
	content: "\e640";
}
.icon-chevron-thin-up-circle:before {
	content: "\e641";
}
.icon-chevron-thin-up-fill:before {
	content: "\e642";
}
.icon-chevron-thin-up:before {
	content: "\e643";
}
.icon-chevron-up-circle:before {
	content: "\e644";
}
.icon-chevron-up:before {
	content: "\e645";
}
.icon-children-point-away-from-lightning-fill:before {
	content: "\e646";
}
.icon-children-point-away-from-lightning:before {
	content: "\e647";
}
.icon-digger-fill:before {
	content: "\e648";
}
.icon-digger:before {
	content: "\e649";
}
.icon-email-fill:before {
	content: "\e64a";
}
.icon-email:before {
	content: "\e64b";
}
.icon-escalator-fill:before {
	content: "\e64c";
}
.icon-escalator:before {
	content: "\e64d";
}
.icon-facebook-circle:before {
	content: "\e64e";
}
.icon-facebook-square:before {
	content: "\e64f";
}
.icon-facebook:before {
	content: "\e650";
}
.icon-family-fill:before {
	content: "\e651";
}
.icon-family:before {
	content: "\e652";
}
.icon-faq-fill:before {
	content: "\e653";
}
.icon-faq:before {
	content: "\e654";
}
.icon-feet-fill:before {
	content: "\e655";
}
.icon-feet:before {
	content: "\e656";
}
.icon-fingerprint-fill:before {
	content: "\e657";
}
.icon-fingerprint:before {
	content: "\e658";
}
.icon-flower-fill:before {
	content: "\e659";
}
.icon-flower:before {
	content: "\e65a";
}
.icon-gavel-alt-fill:before {
	content: "\e65b";
}
.icon-gavel-alt:before {
	content: "\e65c";
}
.icon-gavel-circle:before {
	content: "\e65d";
}
.icon-gavel-fill-circle:before {
	content: "\e65e";
}
.icon-gavel-fill:before {
	content: "\e65f";
}
.icon-gavel:before {
	content: "\e660";
}
.icon-google-circle:before {
	content: "\e661";
}
.icon-google-square:before {
	content: "\e662";
}
.icon-google:before {
	content: "\e663";
}
.icon-graph-fill:before {
	content: "\e664";
}
.icon-graph:before {
	content: "\e665";
}
.icon-gurney-fill:before {
	content: "\e666";
}
.icon-gurney:before {
	content: "\e667";
}
.icon-handcuffs-fill:before {
	content: "\e668";
}
.icon-handcuffs:before {
	content: "\e669";
}
.icon-heart-fill:before {
	content: "\e66a";
}
.icon-heart:before {
	content: "\e66b";
}
.icon-house-alt-fill:before {
	content: "\e66c";
}
.icon-house-alt:before {
	content: "\e66d";
}
.icon-house-fill:before {
	content: "\e66e";
}
.icon-house:before {
	content: "\e66f";
}
.icon-industrial-alt-fill:before {
	content: "\e670";
}
.icon-industrial-alt:before {
	content: "\e671";
}
.icon-industrial-fill:before {
	content: "\e672";
}
.icon-industrial:before {
	content: "\e673";
}
.icon-john-mccane-fill:before {
	content: "\e674";
}
.icon-john-mccane:before {
	content: "\e675";
}
.icon-justice-fill:before {
	content: "\e676";
}
.icon-justice:before {
	content: "\e677";
}
.icon-keys-fill:before {
	content: "\e678";
}
.icon-keys:before {
	content: "\e679";
}
.icon-landscape-fill:before {
	content: "\e67a";
}
.icon-landscape:before {
	content: "\e67b";
}
.icon-leaf-fill:before {
	content: "\e67c";
}
.icon-leaf:before {
	content: "\e67d";
}
.icon-liberty-fill:before {
	content: "\e67e";
}
.icon-liberty:before {
	content: "\e67f";
}
.icon-linkedin-circle:before {
	content: "\e680";
}
.icon-linkedin-square:before {
	content: "\e681";
}
.icon-linkedin:before {
	content: "\e682";
}
.icon-medkit-fill:before {
	content: "\e683";
}
.icon-medkit:before {
	content: "\e684";
}
.icon-motorcycle-fill:before {
	content: "\e685";
}
.icon-motorcycle:before {
	content: "\e686";
}
.icon-old-man-fill:before {
	content: "\e687";
}
.icon-old-man:before {
	content: "\e688";
}
.icon-pencil-paper-fill:before {
	content: "\e689";
}
.icon-pencil-paper:before {
	content: "\e68a";
}
.icon-phone-circle:before {
	content: "\e68b";
}
.icon-phone-fill:before {
	content: "\e68c";
}
.icon-phone-square:before {
	content: "\e68d";
}
.icon-phone:before {
	content: "\e68e";
}
.icon-pie-chart-fill:before {
	content: "\e68f";
}
.icon-pie-chart:before {
	content: "\e690";
}
.icon-piggy-bank-fill:before {
	content: "\e691";
}
.icon-piggy-bank:before {
	content: "\e692";
}
.icon-pin-circle:before {
	content: "\e693";
}
.icon-pin-fill:before {
	content: "\e694";
}
.icon-pin:before {
	content: "\e695";
}
.icon-police-car-fill:before {
	content: "\e696";
}
.icon-police-car:before {
	content: "\e697";
}
.icon-quote-alt-left:before {
	content: "\e698";
}
.icon-quote-alt-right:before {
	content: "\e699";
}
.icon-quote-left:before {
	content: "\e69a";
}
.icon-quote-right:before {
	content: "\e69b";
}
.icon-scale-fill:before {
	content: "\e69c";
}
.icon-scale:before {
	content: "\e69d";
}
.icon-scissors-fill:before {
	content: "\e69e";
}
.icon-scissors:before {
	content: "\e69f";
}
.icon-search-fill:before {
	content: "\e6a0";
}
.icon-search:before {
	content: "\e6a1";
}
.icon-shield-fill:before {
	content: "\e6a2";
}
.icon-shield:before {
	content: "\e6a3";
}
.icon-slip-fill:before {
	content: "\e6a4";
}
.icon-slip:before {
	content: "\e6a5";
}
.icon-social-fill-circle:before {
	content: "\e6a6";
}
.icon-social-fill:before {
	content: "\e6a7";
}
.icon-social:before {
	content: "\e6a8";
}
.icon-stethoscope-fill:before {
	content: "\e6a9";
}
.icon-stethoscope:before {
	content: "\e6aa";
}
.icon-suitcase-fill:before {
	content: "\e6ab";
}
.icon-suitcase:before {
	content: "\e6ac";
}
.icon-three-buildings-fill:before {
	content: "\e6ad";
}
.icon-three-buildings:before {
	content: "\e6ae";
}
.icon-to-top-alt:before {
	content: "\e6af";
}
.icon-to-top:before {
	content: "\e6b0";
}
.icon-twitter-circle:before {
	content: "\e6b1";
}
.icon-twitter-sqaure:before {
	content: "\e6b2";
}
.icon-twitter:before {
	content: "\e6b3";
}
.icon-two-buildings-alt-fill:before {
	content: "\e6b4";
}
.icon-two-buildings-alt:before {
	content: "\e6b5";
}
.icon-two-buildings-fill:before {
	content: "\e6b6";
}
.icon-two-buildings:before {
	content: "\e6b7";
}
.icon-user-female-fill:before {
	content: "\e6b8";
}
.icon-user-female:before {
	content: "\e6b9";
}
.icon-user-male-alt-fill:before {
	content: "\e6ba";
}
.icon-user-male-alt:before {
	content: "\e6bb";
}
.icon-user-male-fill:before {
	content: "\e6bc";
}
.icon-user-male:before {
	content: "\e6bd";
}
.icon-user:before {
	content: "\e6be";
}
.icon-users-circle:before {
	content: "\e6bf";
}
.icon-users:before {
	content: "\e6c0";
}
.icon-wheelchair-fill:before {
	content: "\e6c1";
}
.icon-wheelchair:before {
	content: "\e6c2";
}
.icon-worker-fill:before {
	content: "\e6c3";
}
.icon-worker:before {
	content: "\e6c4";
}
